@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,600&family=Inter:wght@300;400;500&display=swap');

@font-face {
  font-family: 'Zaslia';
  src: url('/Zaslia.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
